.history-container {
  display: flex;
  background-color: #333;
  margin-top: 10px;
  color: #fff;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  .last-search {
    width: 70%;
    display: flex;
    justify-content: center;
  }
}
